<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Contactos</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos contactos</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
    <div class="col-lg-4 mb-2 mb-lg-0">
      <div class="card custom-card-style-1 border-orange py-4 px-3">
        <div class="card-body">
          <p class="text-7 gilroy-black text-dark mb-5">Para qualquer questão</p>
          <ul class="list list-icons list-icons-sm">
            <li class="my-3">
              <img src="{{url_base}}/assets/img/icons/contactos/localizacao.svg" alt="Localização" class="img-fluid mr-2"><p class="d-inline">Rua 24 de Abril, n.º56 </p><p class="ml-4">4805-666 Vila Nova de Sande</p>
            </li>
            <li class="my-3">
              <img src="{{url_base}}/assets/img/icons/contactos/email.svg" alt="Email" class="img-fluid mr-2">geral@.jacintorodrigues@gmail.com
            </li>
            <li class="my-3">
              <img src="{{url_base}}/assets/img/icons/contactos/tel.svg" alt="Telefone" class="img-fluid mr-2">+351 253 476 152
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8 mb-4 mb-lg-0 px-5">
      <p class="gilroy-bold text-dark text-uppercase text-4">Responderemos o mais brevemente possível.</p>
      <div class="row mb-5">
					<div class="col">
						<form class="contact-form-recaptcha-v3" action="php/contact-form-recaptcha-v3.php" method="POST">
							<div class="contact-form-success alert alert-success d-none mt-4">
								<strong>A sua mensagem foi enviada!</strong>
							</div>
							<div class="contact-form-error alert alert-danger d-none mt-4">
								<strong>Ocorreu um erro ao enviar a sua mensagem!</strong>
								<span class="mail-error-message text-1 d-block"></span>
							</div>
							<div class="form-row">
								<div class="form-group col-12">
									<input type="text" placeholder="Nome" value="" data-msg-required="Por favor indique o seu nome." maxlength="100" class="form-control" name="name" required>
								</div>
								<div class="form-group col-12">
									<input type="email" placeholder="Email" value="" data-msg-required="Por favor indique o seu email" data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col">
									<input type="text" placeholder="Assunto" value="" data-msg-required="Por favor indique o assunto." maxlength="100" class="form-control" name="subject" required>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col">
									<textarea maxlength="5000" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="5" class="form-control" name="message" required></textarea>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-6">
                  <input type="checkbox" name="" value=""> <p class="d-inline gilroy-medium text-dark text-2">Eu aceito as condições da política de privacidade.</p>
								</div>
								<div class="form-group col-6">
									<input type="submit" value="Enviar" class="btn btn-dark btn-outline border-black custom-btn-color-1 font-weight-extra-bold text-3 px-5 py-1 border-width-4 float-right" data-loading-text="A enviar...">
								</div>
							</div>
						</form>
					</div>
				</div>
    </div>
  </div>
  </div>
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11958.015703388095!2d-8.365172659464713!3d41.47167354603024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24fa63d94cdf1d%3A0x310294dab7c802d2!2sSande%20(Vila%20Nova)!5e0!3m2!1spt-PT!2spt!4v1621261134490!5m2!1spt-PT!2spt" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
