<div id="custom-content" class="white-popup-block bg-green white-popup-block-lg">
	<div class="row">
		<div class="col">
			<h3 class="gilroy-black text-color-orange text-9 text-capitalize ls-0 my-3">Portaria 24h</h3>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-4 text-center">
			<div class="featured-boxes featured-boxes-style-4 custom-featured-boxes-style-1">
				<div class="row">
					<div class="col-4">
						<div class="featured-box">
							<div class="box-content p-0 border-0">
								<svg enable-background="new 0 0 24 24" height="88px" version="1.1" viewBox="0 0 24 24" width="88px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M18,11h-5v5h5V11z M15,15h-1v-3h1V15z M17,15h-1v-3h1V15z"/><path d="M23,22h-1v-9.2l0.3,0.3c0.4,0.4,1,0.4,1.4,0l0,0c0.4-0.4,0.4-1,0-1.4L12,0L7,5V3c0.6,0,1-0.4,1-1V1c0-0.6-0.4-1-1-1H3   C2.4,0,2,0.4,2,1v1c0,0.6,0.4,1,1,1v6l-2.7,2.7c-0.4,0.4-0.4,1,0,1.4l0,0c0.4,0.4,1,0.4,1.4,0L2,12.8V22H1c-0.6,0-1,0.4-1,1v1h24   v-1C24,22.4,23.6,22,23,22z M12,2.8l8,8V22h-9v-8H6v8H4V10.8L12,2.8z M10,19v3H7v-7h3v3H9v1H10z M4,8V3h2v3L4,8z M3,1h4v1H3V1z"/></g></svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<p class="text-white">Colaboradores, visitantes, prestadores de serviço, encomendas. Tudo passa diariamente pela portaria.</p>
			<p class="text-white">Um garante de segurança e profissionalismo como nosso cartão de visita.</p>
		</div>
	</div>
</div>
