<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Localizacao</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Valências da localização</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-12 py-lg-5 my-5 d-block d-lg-none">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 p-lg-5 my-5 px-5 px-lg-0">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 px-lg-5 mx-lg-5 mt-lg-5">Acessibilidade</h2>
        <p class="text-4 line-height-9 gilroy-bold px-lg-5 mx-lg-5">Perto do coração do seu negócio</p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">A moderna e eficaz rede rodoviária da região garante fenomenais condições de acessibilidade interna e externa ao território local e nacional, colocando o Guimagold Park a menos de 60 minutos de
          grandes centros urbanos – Porto, Braga, Guimarães e Vigo – onde, na sua totalidade habitam mais de 3 milhões de pessoas. As principais ligações rodoviárias são asseguradas pela A3, A7 e a A11.</p>
      </div>
      <div class="col-lg-5 py-lg-5 my-5 d-none d-lg-block">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias2.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 p-lg-5 my-5 px-5 px-lg-0">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 px-lg-5 mx-lg-5">Aeroportos Internacionais</h2>
        <p class="text-4 line-height-9 gilroy-bold px-lg-5 mx-lg-5">De Guimarães para o Mundo </p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">O Aeroporto Francisco Sá Carneiro, localizado no Porto, integrado na rede transeuropeia dos principais aeroportos europeus, possui 35 ligações frequentes, de apenas uma escala, aos principais centros de
          negócios do continente europeu, americano e africano. Reconhecido internacionalmente, foi distinguido em 2011, pelo sexto ano consecutivo, como um dos três melhores aeroportos europeus. </p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">
          O Aeroporto de Vigo, localizado na Galiza – Espanha, possui ligações regulares para diversos pontos de interesse em Espanha e na Europa.
        </p>
      </div>
      <div class="col-12 py-lg-5 my-5 d-block d-lg-none">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias3.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 py-lg-5 my-5 px-5 px-lg-0">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 px-lg-5 mx-lg-5 mt-lg-5">Portos de mar</h2>
        <p class="text-4 line-height-9 gilroy-bold px-lg-5 mx-lg-5">Não existem barreiras ao seu negócio</p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">O porto de Viana de Castelo possui funções de porto de carga, pesca e industrial.</p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">O porto de Leixões (Porto) está integrado na rede transeuropeia dos principais portos europeus.
        </p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">O porto de Vigo (Espanha) oferece diversas valências, sendo também um dos principais portos de pesca do mundo.
        </p>
      </div>
      <div class="col-lg-5 py-lg-5 my-5 d-none d-lg-block">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias3.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 py-lg-5 my-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias4.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 py-lg-5 my-5 px-5 px-lg-0">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 mt-lg-5">Rede de fibra ótica</h2>
        <p class="text-4 line-height-9 gilroy-bold">Conectado com o Mundo</p>
        <p class="text-4 line-height-9">Uma rede de fibra ótica de última geração liga todos os distritos do Minho, os principais edifícios públicos e os parques empresariais, possibilitando os chamados serviços triple play (Internet, Voz, Dados, TV
          HD,etc.)
        </p>
      </div>
      <div class="col-12 py-lg-5 my-5 d-lg-none">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias5.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 py-lg-5 my-5 px-5 px-lg-0">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 px-lg-5 mx-lg-5 mt-lg-5">Rede de ensino qualificado de excelência</h2>
        <p class="text-4 line-height-9 pr-5 gilroy-bold px-lg-5 mx-lg-5">A menos de 60 minutos do Guimagold Park pode encontrar os seguintes espaços académicos e de investigação:
        </p>
        <p class="text-4 line-height-9 px-lg-5 mx-lg-5">
        <ul class="list-unstyled text-4 line-height-9 px-lg-5 mx-lg-5">
          <li class="my-3">- Instituto Ibérico de Nanotecnologia (Braga)</li>
          <li class="my-3">- Instituto de Investigação e Inovação em Saúde (Porto)</li>
          <li class="my-3">- Instituto Europeu de Excelência em Engenharia de Tecidos e Medicina Regenerativa (Braga)</li>
          <li class="my-3">- Instituto de Polímeros e Compósitos (Braga)</li>
          <li class="my-3">- Pólo de Inovação em Engenharia de Polímeros (Guimarães)</li>
          <li class="my-3">- INESC (Porto)</li>
          <li class="my-3">- CEIIA (PORTO)</li>
          <li class="my-3">- CITEVE (Famalicão)</li>
          <li class="my-3">- CETMAR (Vigo)</li>
          <li class="my-3">- CETNAGA (Vigo)</li>
          <li class="my-3">- Universidade do Porto </li>
          <li class="my-3">- Universidade do Minho </li>
          <li class="my-3">- Universidade de Vigo </li>
          <li class="my-3">- Instituto Politécnico de Viana do Castelo </li>
          <li class="my-3">- Universidade Fernando Pessoa</li>
          <li class="my-3">- Escola Superior Gallaecia</li>
        </ul>
      </div>
      <div class="col-lg-5 py-lg-5 my-5 d-none d-lg-block">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias5.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-7 py-lg-5 my-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/valencias/valencias6.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-5 py-lg-5 my-5 px-5 px-lg-0"">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-5">Outras valências disponíveis para as indústrias e negócios instalados no Guimagold Park:</h2>
        <ul class="list-unstyled text-4 line-height-9">
          <li class="my-3">
            - Serviços e infraestruturas de apoio de excelência na região;
          </li>
          <li class="my-3">
            - Centros de Apoio à instalação empresarial;
          </li>
          <li class="my-3">
            - Auditórios para a realização de conferências e seminários
          </li>
          <li class="my-3">
            - Oferta Hoteleira de Luxo;
          </li>
          <li class="my-3">
            - Incubadoras de Empresas;
          </li>
          <li class="my-3">
            - Infraestruturas Urbanísticas;
          </li>
          <li class="my-3">
            - Restauração variada, de qualidade e preço acessível.;
          </li>
          <li class="my-3">
            - Abastecimento de água;
          </li>
          <li class="my-3">
            - Tratamento de águas residuais;
          </li>
          <li class="my-3">
            - Recolha e depósito de resíduos;
          </li>
          <li class="my-3">
            - Instalações elétricas;
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
