<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
          <li class="text-color-orange">Espaços</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos espaços</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col text-center">
        <p class="text-4 mb-5">As nossas infraestruturas são a proposta de valor acrescentado que irão transformar o seu negócio.</p>
      </div>
    </div>
    <div class="row portfolio-list sort-destination mb-3" data-sort-id="portfolio">
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="demo-architecture-interior-projects-detail.html" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco1.png" class="img-fluid" alt="">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Pavilhões</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-5">Guimarães é uma casa de um espaço de acolhimento e incubação empresarial.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="demo-architecture-interior-projects-detail.html" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco2.png" class="img-fluid" alt="">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Edifícios Industriais</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-5">O futuro é a indústria.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="demo-architecture-interior-projects-detail.html" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco3.png" class="img-fluid" alt="">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Escritórios</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-lg-5">O espaço físico, a sua apresentação e disposição, é muito mais que um aspeto prático ou de mera decoração.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="demo-architecture-interior-projects-detail.html" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco4.png" class="img-fluid" alt="">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Plantas</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-5">Conheça ao detalhe os espaços que temos disponíveis para si.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
