<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Notícias</li>
            <li class="active">Norte do país foi a região que mais cresceu em Portugal</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Norte do país foi a região que mais cresceu em Portugal</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="{{url_base}}/assets/img/news/detail.png" alt="" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <p class="text-4 line-height-9">Dados das contas regionais de 2018 indicam que o norte foi impulsionado pelo turismo e pela indústria e energia. Lisboa também cresce acima da média nacional. Alentejo e Madeira na cauda da tabela.</p>
        <p class="text-4 line-height-9">De acordo com os resultados provisórios das contas regionais de 2018, estima-se que todas as regiões tenham registado crescimentos do PIB em termos reais, embora com intensidades diferenciadas, sendo a região
          norte (2,9%) e a área
          metropolitana de Lisboa (2,6%) as únicas com crescimento superior à média nacional, que se situou nos 2,4%. Segundo os dados divulgados pelo Instituto Nacional de Estatística, o crescimento no norte do país foi impulsionado pelo turismo e
          pela indústria e energia.
        <p>
        <p class="text-4 line-height-9">No Algarve o crescimento foi idêntico ao do país, enquanto no Centro (2,2%) e na região autónoma dos Açores (2%) o PIB registou crescimentos mais moderados. O Alentejo e a região autónoma da Madeira
          apresentaram as variações do PIB mais
          baixas (1,0% e 0,6%, respetivamente).</p>
        <p class="text-4 line-height-9">Os resultados finais de 2017 revelaram que as assimetrias do PIB per capita entre as 25 regiões portuguesas atingem a sua expressão máxima na comparação do Alentejo Litoral (138,9) com a do Tâmega e Sousa
          (60,8). Note-se que, face a 2016,
          verificou-se um aumento da disparidade regional neste indicador, passando a diferença entre essas duas regiões de 72,1% para 78,1%, sobretudo devido ao crescimento do PIB per capita do Alentejo Litoral.</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col text-center">
        <a data-hash data-hash-offset="95" href="{{url_base}}/noticias" class="btn btn-dark btn-outline border-black custom-btn-color-1 font-weight-extra-bold text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter"
          data-appear-animation-delay="300">Voltar para notícias</a>
      </div>
    </div>
  </div>
</section>
