<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Notícias</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">As nossas notícias</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row portfolio-list sort-destination pb-2">
      <div class="col-lg-4">
        <a href="{{url_base}}/noticias/detalhe">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/news/1.png" class="img-fluid" alt="Imagem">
            <span class="thumb-info-title">
              <span class="thumb-info-inner line-height-1 font-weight-light text-white positive-ls-1">Norte do país foi a região que mais cresceu em Portugal</span>
              <span class="thumb-info-type line-height-4 font-weight-light mt-2 mt-lg-4">Dados das contas regionais de 2018 indicam que o norte foi impulsionado pelo turismo e pela indústria e energia.</span>
            </span>
          </span>
        </span>
        </a>
      </div>
      <div class="col-lg-4 py-3 py-lg-0">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/news/2.png" class="img-fluid" alt="Imagem">
            <span class="thumb-info-title">
              <span class="thumb-info-inner line-height-1 font-weight-light text-white positive-ls-1">Norte do país foi a região que mais cresceu em Portugal</span>
              <span class="thumb-info-type line-height-4 font-weight-light mt-2 mt-lg-4">Dados das contas regionais de 2018 indicam que o norte foi impulsionado pelo turismo e pela indústria e energia.</span>
            </span>
          </span>
        </span>
      </div>
      <div class="col-lg-4 py-3 py-lg-0">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/news/3.png" class="img-fluid" alt="Imagem">
            <span class="thumb-info-title">
              <span class="thumb-info-inner line-height-1 font-weight-light text-white positive-ls-1">Norte do país foi a região que mais cresceu em Portugal</span>
              <span class="thumb-info-type line-height-4 font-weight-light mt-2 mt-lg-4">Dados das contas regionais de 2018 indicam que o norte foi impulsionado pelo turismo e pela indústria e energia.</span>
            </span>
          </span>
        </span>
      </div>
    </div>
  </div>
</section>
