<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Políticas</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Políticas de privacidade e cookies</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-2 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <p class="gilroy-bold text-uppercase text-4">Política de privacidade </p>
    <p class="text-4 line-height-9">A política de privacidade destina-se a informar a forma de recolha, tratamento e protecção dos dados pessoais fornecidos online.</p>
    <p class="text-4 line-height-9">Qualquer alteração à Política de Privacidade da Guimagold Park será disponibilizada nesta página Web. A última atualização foi efetuada em 13/05/2021.</p>
    <p class="text-4 line-height-9">Para qualquer esclarecimento adicional por favor contacte-nos:</p>
    <p class="text-4 line-height-9">a) por escrito, para:</p>
    <p class="text-4 line-height-9">Guimagold Park Rua 24 de Abril, nº56 4805-556 – V.N.Sande</p>
    <p class="text-4 line-height-9">b) através de correio eletrónico para geral.jacintorodrigues@gmail.com</p>
    <p class="text-4 line-height-9">Os dados recolhidos destinam-se a ser analisados para efeitos de decisão e gestão dos serviços a prestar, bem como para ações de marketing direto.</p>
    <p class="text-4 line-height-9">Os dados fornecidos são confidenciais, não sendo partilhados com entidades terceiras.</p>
    <p class="text-4 line-height-9">A entidade responsável pelo tratamento dos dados recolhidos é a Guimagold park, com sede na Rua 24 de Abril, nº56 4805-556 – V.N.Sande.</p>
    <p class="text-4 line-height-9">SEGURANÇA</p>
    <p class="text-4 line-height-9">Não obstante a Guimagold Park proceder à recolha e tratamento dos dados recolhidos de forma segura, e que impede o seu extravio ou manipulação, informa que a recolha de dados em redes abertas permite a circulação dos dados sem condições de segurança, correndo o risco de serem vistos e utilizados por terceiros não autorizados.</p>
    <p class="text-4 line-height-9">A transmissão de dados através da Internet nunca é totalmente segura, podendo existir terceiros que intercetem ou acedam à informação, pelo que a transmissão de dados é da inteira responsabilidade do transmitente.</p>
    <p class="text-4 line-height-9">O titular dos dados tem direito de acesso, retificação, cancelamento e oposição à comunicação dos seus dados. Tal direito pode ser exercido através de um dos seguintes meios:</p>
    <p class="text-4 line-height-9">a) por escrito, para:</p>
    <p class="text-4 line-height-9">Guimagold Park</p>
    <p class="text-4 line-height-9">Rua 24 de Abril, nº56</p>
    <p class="text-4 line-height-9">4805-556 – V.N.Sande</p>
    <p class="text-4 line-height-9">b) através de correio electrónico para geral.jacintorodrigues@gmail.com</p>
    <p class="gilroy-bold text-uppercase text-4">Informação sobre cookies</p>
    <p class="text-4 line-height-9">Um “cookie” é um pequeno ficheiro descarregado para o seu computador quando visita um website.</p>
    <p class="text-4 line-height-9">Os “cookies” armazenam informações sobre a sua visita, tais como, qual o seu idioma preferido para navegar no site ou outro tipo de informações semelhantes. Com o armazenamento dessas informações, os sites facilitam a sua próxima visita de forma a tornar a navegação no site mais simples.</p>
    <p class="text-4 line-height-9">Os navegadores web têm opções de personalização para o uso de “cookies”. Habitualmente um navegador oferece as seguintes opções de configuração:</p>
    <p class="text-4 line-height-9">Mostrar “cookies”;</p>
    <p class="text-4 line-height-9">Permitir “cookies”;</p>
    <p class="text-4 line-height-9">Desativar todos ou determinados “cookies”;</p>
    <p class="text-4 line-height-9">Desativar todos os “cookies” quando fechar o navegador;</p>
    <p class="text-4 line-height-9">Bloquear “cookies”;</p>
    <p class="text-4 line-height-9">Informar o utilizador antes de salvar um “cookie”;</p>
    <p class="text-4 line-height-9">Nota sobre os “cookies”:</p>
    <p class="text-4 line-height-9">Se bloquear os nossos “cookies” nas definições do seu browser poderá deixar de ter acesso a todas ou parte das áreas do nosso website. Isso poderá afetar a sua experiência de navegação.</p>
    <p class="text-4 line-height-9">No caso de escolher a opção “Eliminar todos os cookies” do seu browser, as definições padrões serão apagadas.</p>
    <p class="text-4 line-height-9">Se deixar que o seu navegador guarde os cookies, eles irão ser usados no momento da sua próxima visita ao nosso site.</p>
    <p class="text-4 line-height-9">APOIO AO CLIENTE</p>
    <p class="text-4 line-height-9">Pode enviar-nos um e-mail para geral.jacintorodrigues@gmail.com e receberá uma resposta o mais rapidamente possível.</p>
  </div>
</section>
