:root {
  --main-orange: #E95D15;
  --main-orange2: #E75D26;
  --main-green: #071D22;
  --grey: #F2F2F2;
}

.text-color-orange {
  color: var(--main-orange);
}

.bg-green {
  background: var(--main-green);
}

.border-orange {
  border: 7px solid var(--main-orange2) !important;
}

.border-black {
  border: 3px solid #000 !important;
}


.notice-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--main-green);
  z-index: 1000;
  font-family: GilroyMedium, sans-serif;
}

.notice-bottom-bar a {
  font-family: GilroyMedium, sans-serif;
}

.notice-bottom-bar .notice-button {
  background: #FFF;
  color: #000000;
  border-radius: 35px;
  -webkit-transition: ease background 300ms;
  transition: ease background 300ms;
  text-decoration: none;
}

.notice-bottom-bar .notice-button:hover {
  background: var(--main-green);
  color: white;
}

.btn-download {
  background: transparent;
  border: 2px solid black;
}

.shadow-border {
  -webkit-box-shadow: 0px 9px 33px -10px rgba(166, 164, 166, 1);
  -moz-box-shadow: 0px 9px 33px -10px rgba(166, 164, 166, 1);
  box-shadow: 0px 9px 33px -10px rgba(166, 164, 166, 1);
}

.plant-btn {
  color: #656565 !important;
  border: 3px solid #000;
  padding: .3rem 1.5rem !important;
}
.plant-btn:hover {
  color: #000;
  border-color:  var(--main-orange2);
  font-weight: bolder;
}

.text-capitalize-firstletter {
  text-transform: lowercase !important;
}
.text-capitalize-firstletter::first-letter {
  text-transform: uppercase !important;
}

/* FORMS */
input::placeholder {
  color: var(--main-orange2) !important;
  text-transform: uppercase;
  font-family: GilroyMedium, sans-serif !important;
}

textarea.form-control {
  height: 8vh;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: var(--main-orange2) !important;
  text-transform: uppercase;
  font-family: GilroyMedium, sans-serif;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: var(--main-orange2) !important;
  text-transform: uppercase;
  font-family: GilroyMedium, sans-serif;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--main-orange2) !important;
  text-transform: uppercase;
  font-family: GilroyMedium, sans-serif;
}

textarea:-ms-input-placeholder {
  color: var(--main-orange2) !important;
  text-transform: uppercase;
  font-family: GilroyMedium, sans-serif;
}

textarea::placeholder {
  color: var(--main-orange2) !important;
  text-transform: uppercase;
  font-family: GilroyMedium, sans-serif;
}

.form-control {
  border: none;
  border-bottom: 3px solid black;
  padding: 0;
}

/* FONTS  */
.gilroy-medium {
  font-family: GilroyMedium, sans-serif;
}

.gilroy-black {
  font-family: GilroyBlack, sans-serif;
}

.gilroy-bold {
  font-family: GilroyBold, sans-serif;
}

.gilroy-extrabold {
  font-family: GilroyExtrabold, sans-serif;
}


/* MEDIA QUERIES  */

@media (max-width: 767.98px) {
  html.side-header-overlay-full-screen #header .header-nav-main nav > ul > li > a {
    font-size: 1rem;
    padding: 10px !important;
  }
}
