@font-face {
    font-family: "GilroyMedium";
    src: local('Gilroy-Medium'), url('./fonts/Gilroy-Medium.woff');
}

@font-face {
    font-family: "GilroyBold";
    src: local('Gilroy-Bold'), url('./fonts/Gilroy-Bold.woff');
}

@font-face {
    font-family: "GilroyExtrabold";
    src: local('Gilroy-Extrabold'), url('./fonts/Gilroy-Extrabold.woff');
}

@font-face {
    font-family: "GilroyBlack";
    src: local('Gilroy-Black'), url('./fonts/Gilroy-Black.woff');
}
