<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Quem somos nós</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Sobre o Guimagold Park</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-4 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col-lg-8 mb-5 mb-lg-0 pr-xl-5">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3">Espaço de acolhimento e incubação empresarial!</h2>
        <p class="text-4 line-height-9 gilroy-bold">
          Venha fazer parte de um espaço qualificado de acolhimento e incubação empresarial!
        </p>
        <p class="text-4 line-height-9">
          O Minho constitui atualmente um dos pontos de referência geoestratégica mais atrativos em termos de localização empresarial. A sua posição central na eurorregião Norte de Portugal/Galiza, os clusters dinâmicos e inovadores, instituições de
          ensino de prestígio mundial e os excelentes serviços de apoio à competitividade empresarial, garantem todas as condições para quem aqui procure investir.
        </p>
        <p class="text-4 line-height-9">
          Este conjunto de oportunidades materializa-se no projeto Guimagold Park. Um empreendimento empresarial de luxo, que contempla a reabilitação e ampliação de um edifício existente, transformando este espaço de negócios num condomínio
          empresarial de luxo. Com pavilhões feitos à medida de todos os negócios e escritórios equipados com todos os requisitos de modernidade, este espaço está provido com vigilância privada 24 horas, amplo espaço para estacionamento, espaços
          verdes comuns a todos os colaboradores, um restaurante no seio desta infraestrutura, ginásio, entre outros.</p>
        <p class="text-4 line-height-9">
          Numa primeira fase estão à sua disposição 6 pavilhões para indústrias e 4 espaços destinados a serviços, numa área total de 6712m2. Numa segunda etapa, irão surgir 8 novos edifícios destinados a indústria, com cerca de 3500m2 de construção
          e um edifício destinado a restauração, com área de 1300m2.
        </p>
        <p class="text-4 line-height-9">Uma resposta perfeita às suas necessidades e às do seu negócio.</p>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-12 order-1">
            <img src="{{url_base}}/assets/img/about/about_detail1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
          <div class="col-12 order-2 mt-2">
            <img src="{{url_base}}/assets/img/about/about_detail2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="Imagem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
