<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Serviços</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos serviços</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-height-4 border-0 m-0 appear-animation" data-appear-animation="fadeIn" id="ourservices">
  <div class="container container-xl-custom">
    <div class="featured-boxes featured-boxes-style-4 custom-featured-boxes-style-1">
      <div class="row mb-2">
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary bg-quaternary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/portaria.svg" alt="Portaria" class="img-fluid">
                <h3 class="font-weight-bold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Portaria</h3>
                <p class="font-weight-light text-color-light mb-0">Colaboradores, visitantes, prestadores de serviço, encomendas, tudo passa diariamente pela portaria.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary bg-quaternary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/ginasio.svg" alt="Ginásio" class="img-fluid">
                <h3 class="font-weight-bold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Ginásios</h3>
                <p class="font-weight-light text-color-light">Dê aos seus colaboradores a oportunidade de relaxar e reduzir a fadiga muscular e mental.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary bg-quaternary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/restaurante.svg" alt="Restaurante" class="img-fluid">
                <h3 class="font-weight-bold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Restaurante</h3>
                <p class="font-weight-light text-color-light">O espaço ideal não só para a alimentação de todos os colaboradores deste empreendimento.</p>
              </div>
            </div>
        </div>
        </a>
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary bg-quaternary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/parque.svg" alt="Parque de estacionamento" class="img-fluid">
                <h3 class="font-weight-bold text-color-orange text-5 text-capitalize-firstletter  ls-0 my-3">Parques de estacionamento</h3>
                <p class="font-weight-light text-color-light">Um espaço multifuncional que permite receber visitantes, prestadores de serviços e encomendas sem preocupações de espaço ou tempo.</p>
              </div>
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>
