<section class="py-5 my-5"></section>
<section class="text-center bg-primary">
  <h1 class="img-fluid appear-animation" data-appear-animation="swing" data-appear-animation-delay="0" data-appear-animation-duration="5s">Teste</h1>
  <h2>teste 2</h2>
</section>

<section class="py-5 my-5"></section>
<section class="py-5 my-5"></section>
<section class="py-5 my-5"></section>
<section class="py-5 my-5"></section>
<section class="py-5 my-5"></section>
<section class="py-5 my-5"></section>
<section class="py-5 my-5"></section>
<section class="text-center bg-primary">
  <h1 class="img-fluid appear-animation" data-appear-animation="fadeIn">Teste</h1>
  <h2>teste 2</h2>
</section>
