<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Pavilhões</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos pavilhões</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col text-center">
        <p class="text-4 mb-5">Guimarães é casa de um espaço de acolhimento e incubação empresarial.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pr-lg-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/pavilhoes/pavilhao1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="" />
          </div>
          <div class="col-6 mt-3 pr-2">
            <img src="{{url_base}}/assets/img/pavilhoes/pavilhao3.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="" />
          </div>
          <div class="col-6 mt-3 pl-2">
            <img src="{{url_base}}/assets/img/pavilhoes/pavilhao2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-5 mb-lg-0 px-5">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 mt-5 mt-lg-0">Pavilhões</h2>
        <p class="text-4 line-height-9">O Guimagold Park responde a uma debilidade da região há muito sentida, que se traduzia na falta de oferta de solo industrial a um preço acessível e com as condições ideais para as empresas em
          pleno século XXI poderem prosperar.</p>
        <p class="text-4 line-height-9">Este moderno parque empresarial é dotado de boas acessibilidades e de todas as infraestruturas urbanísticas essenciais, respondendo com flexibilidade às necessidades das empresas que se pretendam
          instalar. Um espaço vocacionado para o futuro, com identidade e onde a instalação de serviços de apoio (equipamentos; incubadora de empresas/centro de investigação e tecnológico) e o funcionamento em rede são catalisadores de sinergias
          nacionais e internacionais.”</p>
        <p class="text-4 line-height-9">As nossas instalações conjugam uma oferta ímpar permitindo uma gama diversificada de operações logísticas, pavilhões multiusos, armazenagem, terrenos industriais e escritórios, oferecendo uma
          gama ampla e versátil de soluções com planeamento ativo e consultoria. A implementação deste parque visa criar condições para a instalação de atividades económicas e valorizando a região e trazendo valor acrescentado à requalificação
          ambiental e urbana.
        </p>
        <p class="text-4 line-height-9">
          A implementação deste parque visa criar condições para a instalação de atividades económicas e valorizando a região e trazendo valor acrescentado à requalificação ambiental e urbana.</p>
        <p class="text-5 line-height-9 gilroy-extrabold text-dark pr-5 pb-3 mb-4">Está interessado? Quer saber mais?</p>
        <a href="demo-architecture-interior-who-we-are.html" class="btn btn-dark btn-outline font-weight-extra-bold text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">Entrar em
          contacto</a>
      </div>
    </div>
  </div>
</section>
