<div class="slider-container rev_slider_wrapper" style="height: 100vh;" id="home">
  <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'sliderLayout': 'fullscreen', 'delay': 9000, 'gridwidth': 1630, 'gridheight': 800, 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'mouse', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }}">
    <ul>
      <li data-transition="fade">
        <img src="{{url_base}}/assets/img/home/video-thumb.png"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

        <div class="tp-caption rs-parallaxlevel-4"
          data-frames='[{"from":"opacity:0;","speed":300,"to":"opacity:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"o:0;","ease":"Power2.easeInOut"}]'
          data-x="['center','center','center','center']"
          data-y="['center','center','center','center']"
          data-hoffset="['-150','-150','-150','-150']"
          data-voffset="['-20','-20','-20','-20']"
          data-width="['430','430','630','830]"
          data-height="['330','330','530','730']"
          data-basealign="slide">
            <svg class="custom-square-1 custom-transition-1 custom-mobile-square-thickness" width="125%" height="90%">
              <rect width="100%" height="100%" fill="none" stroke-width="35" stroke="#000" />
            </svg>
          </div>

        <h1 class="tp-caption font-weight-bold text-color-light ws-normal rs-parallaxlevel-3 gilroy-black"
          data-frames='[{"from":"opacity:0;y:[50%];","speed":2000,"to":"opacity:1;","delay":800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"o:0;","ease":"Power2.easeInOut"}]'
          data-x="['center','center','center','center']"
          data-y="['center','center','center','center']"
          data-hoffset="['150','150','150','200']"
          data-voffset="['-65','-55','-55','-180']"
          data-width="['900','900','1100','1300']"
          data-fontsize="['66','66','86','110']"
          data-lineheight="['72','72','90','110']"
          data-basealign="slide">
          Espaço de Acolhimento & Incubação Empresarial</h1>

        <div class="tp-caption font-weight-light text-color-light ls-0 rs-parallaxlevel-4 gilroy-medium"
          data-frames='[{"from":"opacity:0;y:[50%]","speed":2000,"to":"opacity:0.7;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"o:0;","ease":"Power2.easeInOut"}]'
          data-x="['center','center','center','center']"
          data-y="['center','center','center','center']"
          data-hoffset="['-215','-200','-235','-170']"
          data-voffset="['35','40','65','40']"
          data-fontsize="['16','20','32','55']"
          data-lineheight="['20','17','40','55']"
          data-basealign="slide">
          Saiba mais sobre nós!</div>

        <a class="tp-caption d-inline-flex align-items-center btn btn-dark font-weight-bold rounded ls-0 rs-parallaxlevel-2 bg-quaternary gilroy-bold"
          data-hash
          data-hash-offset="95"
          href="#whoweare"
          data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"x:-50%;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
          data-x="['center','center','center','center']"
          data-y="center"
          data-hoffset="['150','150','200','260']"
          data-voffset="['90','80','130','180']"
          data-paddingtop="['15','20','30','40']"
          data-paddingbottom="['15','20','30','40']"
          data-paddingleft="['35','35','35','35']"
          data-paddingright="['25','15','15','25']"
          data-fontsize="['20','16','23','45']"
          data-lineheight="['20','20','26','50']">SOBRE NÓS <i class="fas fa-arrow-right ml-4 pl-3 mr-2 text-4"></i></a>

      </li>
    </ul>
  </div>
</div>
