<section class="section section-height-4 bg-quaternary border-0 m-0" id="contacts">
  <div class="container container-xl-custom">
    <div class="row justify-content-center">

      <div class="col-lg-6 col-xl-4 order-1 mb-4 mb-lg-0">
        <div class="card custom-card-style-1 h-100">
          <div class="card-body">
            <a href="#" class="text-decoration-none">
              <img src="{{url_base}}/assets/img/logos/guimagold_footer.svg" class="img-fluid pb-2 mt-3 mb-4" width="370" height="100" alt="" />
            </a>
            <ul class="list list-icons list-icons-sm">
              <li class="text-color-light font-weight-light">
                <i class="fas fa-angle-right text-light"></i> <strong class="gilroy-bold ml-3">Morada: </strong>Rua 24 de Abril, nº56 4805-556 Vila Nova de Sande
              </li>
              <li class="text-color-light font-weight-light">
                <i class="fas fa-angle-right text-light"></i> <strong class="gilroy-bold ml-3">Email: </strong><a href="mailto:mail@example.com" class="link-hover-style-1 ml-1 text-color-orange">geral.jacintorodrigues@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-7 col-xl-4 order-2 mb-4 mb-xl-0">
        <div class="card border-orange custom-card-style-1 h-100 opacity-10 py-lg-5 py-xl-0" data-appear-animation="customBorderColored" data-appear-animation-delay="500" data-plugin-options="{'accY': -500}">
          <div class="card-body d-flex justify-content-center flex-column text-center">
            <span class="text-color-orange text-9 mb-4 gilroy-extrabold">Contacte-nos agora!</span>
            <a href="tel:+351253467152" class="text-decoration-none text-color-light font-weight-bold line-height-2 text-9">+351 253 467 152</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-xl-4 order-3 mb-4 mb-lg-0">
        <div class="card custom-card-style-1 h-100">
          <div class="card-body">
            <ul class="list list-icons list-icons-sm">
              <li class="py-2">
                <a href="{{url_base}}/politica" class="text-color-orange">Políticas de privacidade e de cookies</a>
              </li>
              <li class="py-2">
                <a href="{{url_base}}/termos" class="text-color-orange">Termos e condições</a>
              </li>
              <li class="py-2">
                <a href="" class=""><img src="{{url_base}}/assets/img/logos/livro_reclamacoes.svg" alt="" class="img-fluid"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="bg-quaternary border-width-1 py-3 mt-0">
  <div class="container container-xl-custom">
    <div class="row justify-content-between">
      <div class="col-auto">
        <ul class="social-icons social-icons-clean social-icons-icon-light">
          <li class="social-icons-facebook mx-1"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><img src="{{url_base}}/assets/img/icons/social/footer/facebook.svg" alt=""></a></li>
          <li class="social-icons-instagram mx-1"><a href="http://www.twitter.com/" target="_blank" title="Instagram"><img src="{{url_base}}/assets/img/icons/social/footer/instagram.svg" alt=""></a></li>
          <li class="social-icons-linkedin mx-1"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><img src="{{url_base}}/assets/img/icons/social/footer/linkedin.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="col-auto text-right">
        <p class="text-color-light font-weight-light opacity-8 mb-0">Designed by <a href="https://unify.pt/" target="_blank"><img src="{{url_base}}/assets/img/logos/unify.svg" alt="" class="img-fluid ml-2 mb-1"></a></p>
      </div>
    </div>
  </div>
</footer>
</div>


<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/js/views/view.contact.js"></script>

<!-- Demo -->
<script src="{{url_base}}/assets/js/demos/demo-architecture-interior.js"></script>

</body>

</html>
