<!DOCTYPE html>
<html class="side-header-overlay-full-screen">

<head>

	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>Guimagold Park</title>

		<meta name="keywords" content="" />
		<meta name="description" content="">
		<meta name="author" content="unify.pt">

		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="{{url_base}}/assets/img/favicon/favicon.ico" type="image/x-icon" /> -->
		<!-- <link rel="apple-touch-icon" href="{{url_base}}/assets/img/favicon/apple-touch-icon.png"> -->

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="{{url_base}}/assets/css/fonts.css" rel="stylesheet" type="text/css">
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-elements.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-blog.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/theme-shop.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/fonts.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/rs-plugin/css/navigation.css">
		<link rel="stylesheet" href="{{url_base}}/assets/vendor/circle-flip-slideshow/css/component.css">


		<!-- Demo CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/demos/demo-architecture-interior.css">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/skins/default.css">
		<link rel="stylesheet" href="{{url_base}}/assets/css/skins/skin-architecture-interior.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{{url_base}}/assets/css/custom.css">

		<!-- Head Libs -->
		<script src="{{url_base}}/assets/vendor/modernizr/modernizr.min.js"></script>

	</head>

	<body data-target="#header" data-spy="scroll" data-offset="100" class="loading-overlay-showing" data-loading-overlay data-plugin-options="{'hideDelay': 500}">
		<div class="body">

			{% if cookies == 0 %}
			<div class="notice-bottom-bar">
				<div class="container text-center">
					<div class="row py-3">
						<div class="col-12 col-md-8 mt-lg-1">
							<p class="text-white m-0">Este site utiliza cookies para melhorar a sua experiência de navegação.</p>
						</div>
						<div class="col-12 col-md-4 mt-2 mt-lg-0">
							<a href="{{url_base}}/politica" target="_blank" class="btn btn-default btn-rounded notice-button d-inline-block font-weight-semibold text-1 mr-4">Saber mais</a>
							<a href="javaScript:void(0);" class="btn btn-default btn-rounded d-inline-block notice-button font-weight-semibold text-1 cookie-ok">Aceito</a>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
