<div class="sticky-wrapper {% if module|lower == 'site' %}  sticky-wrapper-transparent {% endif %} sticky-wrapper-effect-1 sticky-wrapper-effect-1-dark" data-plugin-sticky data-plugin-options="{'minWidth': 0, 'stickyStartEffectAt': 100, 'padding': {'top': 0}}">
  <div class="sticky-body">
    <div class="container container-xl-custom">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <div class="py-4">
            <a href="{{url_base}}">
              <img alt="Guimagold Park" width="160" height="60" src="{{url_base}}/assets/img/logos/guimagold_header.svg">
            </a>
          </div>
        </div>
        <div class="col-auto text-right d-flex align-items-center justify-content-end">
          <ul class="social-icons social-icons-clean social-icons-icon-light d-none d-md-inline-block mx-2">
            <li class="social-icons-facebook mx-2"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><img src="{{url_base}}/assets/img/icons/social/header/facebook.svg" alt=""></a></li>
            <li class="social-icons-instagram mx-2"><a href="http://www.twitter.com/" target="_blank" title="Instagram"><img src="{{url_base}}/assets/img/icons/social/header/instagram.svg" alt=""></a></li>
            <li class="social-icons-linkedin mx-2"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><img src="{{url_base}}/assets/img/icons/social/header/linkedin.svg" alt=""></a></li>
          </ul>
          <button class="hamburguer-btn hamburguer-btn-light" data-set-active="false">
            <span class="hamburguer">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<header id="header" class="side-header-overlay-full-screen side-header-hide" data-plugin-options="{'stickyEnabled': false}">
  <button class="hamburguer-btn hamburguer-btn-light hamburguer-btn-side-header hamburguer-btn-side-header-overlay active" data-set-active="false">
    <span class="close">
      <span></span>
      <span></span>
    </span>
  </button>
  <div class="header-body d-flex h-100">
    <div class="header-column flex-row flex-lg-column justify-content-center h-100">
      <div class="header-container container d-flex h-100">
        <div class="header-row header-row-side-header flex-row h-100 pb-5">
          <div class="side-header-scrollable scrollable colored-slider h-50" data-plugin-scrollable>
            <div class="scrollable-content">
              <div class="header-nav header-nav-light-text header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-expand header-nav-click-to-open align-self-start">
                <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
                  <nav>
                    <ul class="nav nav-pills" id="mainNav">
                      <li class="dropdown">
                        <a class="dropdown-item active" data-hash data-hash-offset="95" {% if module|lower == 'site' %} href="#whoweare" {% else %} href="{{url_base}}/#whoweare" {%  endif %}>Sobre o Guimagold Park</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-item" data-hash data-hash-offset="95" {% if module|lower == 'site' %} href="#ourservices" {% else %} href="{{url_base}}/#ourservices" {%  endif %}">Serviços</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-item" data-hash data-hash-offset="95" {% if module|lower == 'site' %} href="#ourspaces" {% else %} href="{{url_base}}/#ourspaces" {%  endif %}>Espaços</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-item" data-hash data-hash-offset="95" {% if module|lower == 'site' %} href="#locations" {% else %} href="{{url_base}}/#locations" {%  endif %}>Valências da localização</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-item" data-hash data-hash-offset="95" {% if module|lower == 'site' %} href="#ourblog" {% else %} href="{{url_base}}/#ourblog" {%  endif %}>Notícias</a>
                      </li>
                      <li class="dropdown">
                        <a class="dropdown-item" data-hash data-hash-offset="95" href="{{url_base}}/contactos">Contactos</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div role="main" class="main" id="home">
  {% if (module == 'Site' or module == 'Inicio') and action == 'index' %} {% include 'Includes/banner.html' %} {% endif %}
