<!-- QUEM NÓS SOMOS  -->
<section class="section section-height-5 bg-light border-0 m-0" id="whoweare">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="overflow-hidden">
          <span class="d-block text-color-primary custom-font-secondary appear-animation" data-appear-animation="fadeIn">QUEM NÓS SOMOS</span>
        </div>
        <div class="overflow-hidden mb-3">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Espaço de acolhimento e incubação empresarial!</h2>
        </div>
        <p class="text-4 line-height-9 pr-5 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">O Minho constitui atualmente um dos pontos de referência geoestratégica mais atrativos em termos de
          localização empresarial.</p>
        <a href="{{url_base}}/sobre" class="btn btn-dark btn-outline text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">SABER
          MAIS</a>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-6 col-xl-4 order-1">
            <img src="{{url_base}}/assets/img/about/about1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="3000" alt="Imagem" />
          </div>
          <div class="col-12 col-xl-4 order-3 order-xl-2">
            <div class="h-100 d-flex align-items-center position-relative px-4 py-4 py-xl-0 mt-4 mt-xl-0">
              <svg class="custom-square-1 custom-square-top-right z-index-0" width="80" height="80">
                <rect class="lineProgressFrom appear-animation" data-appear-animation="lineProgressTo" data-appear-animation-duration="3s" width="80" height="80" fill="none" stroke-width="13" stroke="#000" />
              </svg>
              <svg class="custom-square-1 custom-square-1-no-pos z-index-0" width="100%" height="100%">
                <rect class="lineProgressAndFillFrom appear-animation" data-appear-animation="lineProgressAndFillTo" data-appear-animation-duration="3s" width="100%" height="100%" fill="none" stroke-width="13" stroke="#000" />
              </svg>
              <p class="text-color-light line-height-9 text-center text-4 z-index-1 custom-responsive-text-size-1 mb-0 px-2">Venha conhecer este condomínio empresarial com pavilhões feitos à medida do seu negócio.</p>
            </div>
          </div>
          <div class="col-6 col-xl-4 order-2 order-xl-3">
            <img src="{{url_base}}/assets/img/about/about2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="3000" alt="Imagem" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!------------------------------->

<!-- OS NOSSOS SERVIÇOS  -->
<section class="section section-height-4 bg-quaternary border-0 m-0 appear-animation" data-appear-animation="fadeIn" id="ourservices">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col text-center">
        <div class="overflow-hidden">
          <span class="d-block text-color-primary custom-font-secondary appear-animation" data-appear-animation="maskUp">O QUE TEMOS</span>
        </div>
        <div class="overflow-hidden mb-4">
          <h2 class="text-color-light gilroy-black mb-0 appear-animation text-lg-10 positive-ls-1" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos serviços</h2>
        </div>
      </div>
    </div>
    <div class="featured-boxes featured-boxes-style-4 custom-featured-boxes-style-1">
      <div class="row mb-2">
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/portaria.svg" alt="Portaria" class="img-fluid">
                <h3 class="gilroy-extrabold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Portaria</h3>
                <p class="font-weight-light text-color-light mb-0">Colaboradores, visitantes, prestadores de serviço, encomendas, tudo passa diariamente pela portaria.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/ginasio.svg" alt="Ginásio" class="img-fluid">
                <h3 class="gilroy-extrabold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Ginásios</h3>
                <p class="font-weight-light text-color-light">Dê aos seus colaboradores a oportunidade de relaxar e reduzir a fadiga muscular e mental.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/restaurante.svg" alt="Restaurante" class="img-fluid">
                <h3 class="gilroy-extrabold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Restaurante</h3>
                <p class="font-weight-light text-color-light">O espaço ideal não só para a alimentação de todos os colaboradores deste empreendimento.</p>
              </div>
            </div>
        </div>
        </a>
        <div class="col-md-6 col-xl-3">
          <a href="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-services-detail.html" class="text-decoration-none simple-ajax-popup">
            <div class="featured-box featured-box-primary featured-box-effect-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
              <div class="box-content">
                <img src="{{url_base}}/assets/img/icons/servicos/parque.svg" alt="Parque estacionamento" class="img-fluid">
                <h3 class="gilroy-extrabold text-color-orange text-5 text-capitalize-firstletter ls-0 my-3">Parques de estacionamento</h3>
                <p class="font-weight-light text-color-light">Um espaço multifuncional que permite receber visitantes, prestadores de serviços e encomendas sem preocupações de espaço ou tempo.</p>
              </div>
            </div>
        </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a data-hash data-hash-offset="95" href="{{url_base}}/servicos" class="btn btn-dark btn-outline custom-btn-color-1 text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter"
          data-appear-animation-delay="300">VER MAIS</a>
      </div>
    </div>
  </div>
</section>
<!------------------------------->

<!-- OS NOSSOS ESPAÇOS  -->
<section class="section section-height-4 bg-light border-0 m-0" id="ourspaces">
  <div class="container container-xl-custom">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-xl-6 text-center">
        <div class="overflow-hidden">
          <span class="d-block text-color-primary custom-font-secondary text-uppercase appear-animation" data-appear-animation="maskUp">O que oferecemos</span>
        </div>
        <div class="overflow-hidden mb-3">
          <h2 class="text-color-dark gilroy-black text-lg-10 mb-0 appear-animation positive-ls-1" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos espaços</h2>
        </div>
        <p class="text-4 mb-5 appear-animation px-lg-5 mx-lg-5" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">As nossas infraestruturas são a proposta de valor acrescentado que irão transformar o seu negócio</p>
      </div>
    </div>
    <div id="portfolioLoadMoreWrapper" class="row portfolio-list sort-destination mb-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300" data-sort-id="portfolio" data-total-pages="3" data-ajax-url="{{url_base}}/assets/ajax/demo-architecture-interior-ajax-load-more-">
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="{{url_base}}/pavilhoes" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco1.png" class="img-fluid" alt="Espaço">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Pavilhões</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-5">Guimarães é a casa de um espaço de acolhimento e incubação empresarial.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="{{url_base}}/edificios" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco2.png" class="img-fluid" alt="Espaço">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Edifícios industriais.</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-5">O futuro é a indústria.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="{{url_base}}/escritorios" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco3.png" class="img-fluid" alt="Espaço">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Escritórios</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-lg-5">O espaço físico, a sua apresentação e disposição, é muito mais que um aspeto prático ou de mera decoração.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-4 isotope-item">
        <div class="portfolio-item">
          <a href="{{url_base}}/plantas" class="text-decoration-none">
            <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-dark-linear custom-thumb-info-style-1">
              <span class="thumb-info-wrapper">
                <img src="{{url_base}}/assets/img/espacos/espaco4.png" class="img-fluid" alt="Espaço">
                <span class="thumb-info-title text-left">
                  <span class="thumb-info-inner gilroy-black line-height-1 text-uppercase text-dark text-4 mb-3">Plantas</span>
                  <span class="thumb-info-type text-transform-none font-weight-light text-1 line-height-7 pr-xl-5 mr-lg-5">Conheça ao detalhe os espaços que temos disponíveis para si.</span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div id="portfolioLoadMoreBtnWrapper" class="row">
      <div class="col text-center">

        <div id="portfolioLoadMoreLoader" class="portfolio-load-more-loader" style="min-height: 61px;">
          <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <a href="{{url_base}}/espacos" class="btn btn-primary gilroy-bold btn-outline ml-2 text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter">Ver todos</a>
      </div>
    </div>
  </div>
</section>

<!------------------------------->
<!-- VALÊNCIAS DA LOCALIZAÇÃO  -->
<section class="section section-parallax section-height-4 border-0 m-0" data-plugin-parallax data-plugin-options="{'speed': 1.5}" data-image-src="{{url_base}}/assets/img/valencias/home_banner.png" id="locations">
  <div class="container container-xl-custom pb-5 mb-4">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-xl-6 text-center">
        <span class="text-color-primary custom-font-secondary text-uppercase">A melhor localização</span>
        <h2 class="text-color-light gilroy-black text-lg-10 pb-3 mb-3 positive-ls-1">Valências da localização</h2>
      </div>
    </div>
  </div>
</section>
<div class="container container-xl-custom custom-negative-margin-top z-index-2 position-relative">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6 col-lg-3 col-xl-2 order-2 order-xl-1 mb-4 mb-lg-0">
      <div class="card border-0 shadow-border">
        <div class="card-body my-1 text-center">
          <div>
            <span class="text-color-primary gilroy-extrabold line-height-2 text-4">Rede de ensino</span>
            <p class="text-4">Ensino qualificado e de excelência.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-xl-2 order-3 order-xl-2 mb-4 mb-lg-0">
      <div class="card border-0 shadow-border">
        <div class="card-body my-1 text-center">
          <div>
            <span class="text-color-primary gilroy-extrabold line-height-2 text-4">Rede de fibra ótica</span>
            <p class="text-4">Conectado com o mundo.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-xl-4 order-1 order-xl-3 mx-lg-5 mx-xl-0 mb-5">
      <div class="card border-0 shadow-border py-5">
        <div class="card-body text-center mt-4">
          <div class="owl-carousel owl-theme nav-style-1 nav-dark custom-nav-size-1 mb-0" data-plugin-options="{'items':1, 'nav': true, 'dots': false}">
            <div class="text-center px-5">
                <span class="text-color-primary gilroy-extrabold line-height-2 text-6">Acessibilidade</span>
              <p class="text-4">Perto do coração do seu negócio</p>
            </div>
            <div class="text-center px-5">
                <span class="text-color-primary gilroy-extrabold line-height-2 text-6">Rede de ensino</span>
              <p class="text-4">Ensino qualificado e de excelência.</p>
            </div>
            <div class="text-center px-5">
                <span class="text-color-primary gilroy-extrabold line-height-2 text-6">Rede de fibra ótica</span>
              <p class="text-4">Conectado com o mundo.</p>
            </div>
            <div class="text-center px-5">
                <span class="text-color-primary gilroy-extrabold line-height-2 text-6">Aeroportos internacionais</span>
              <p class="text-4">De Guimarães para o mundo.</p>
            </div>
            <div class="text-center px-5">
                <span class="text-color-primary gilroy-extrabold line-height-2 text-6">Portos de mar</span>
              <p class="text-4">Não existem barreiras ao seu negócio.</p>
            </div>
          </div>
          <a data-hash data-hash-offset="95" href="{{url_base}}/valencias" class="btn btn-dark btn-outline text-3 px-5 py-3 border-width-4 custom-btn-pos-1 custom-btn-style-1">Ver mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-xl-2 order-4 order-xl-4 mb-4 mb-sm-0">
      <div class="card border-0 shadow-border">
        <div class="card-body my-1 text-center">
          <div>
            <span class="text-color-primary font-weight-bold line-height-2 text-4">Aeroportos internacionais</span>
            <p class="text-4">De Guimarães para o mundo.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 col-xl-2 order-5 order-xl-5 mb-4 mb-sm-0">
      <div class="card border-0 shadow-border">
        <div class="card-body my-1 text-center">
          <div>
            <span class="text-color-primary font-weight-bold line-height-2 text-4">Portos de mar</span>
            <p class="text-4">Não existem barreiras ao seu negócio.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!------------------------------->
<!-- ÚLTIMAS NOTÍCIAS  -->
<section class="section section-height-4 bg-color-grey-scale-1 border-0 m-0" id="ourblog">
  <div class="container container-xl-custom">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-xl-6 text-center">
        <div class="overflow-hidden">
          <span class="d-block text-color-primary custom-font-secondary text-uppercase appear-animation" data-appear-animation="maskUp">As últimas notícias</span>
        </div>
        <div class="overflow-hidden mb-3">
          <h2 class="text-color-dark gilroy-black pb-2 mb-0 text-lg-10 appear-animation positive-ls-1" data-appear-animation="maskUp" data-appear-animation-delay="250">As nossas noticias</h2>
        </div>
        <p class="font-weight-light line-height-9 text-4 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="350">Mantenha-se a par de todas a novidades.</p>
      </div>
    </div>
    <div id="portfolioLoadMoreWrapperBlog" class="row portfolio-list sort-destination pb-2" data-sort-id="portfolio" data-total-pages="3" data-ajax-url="{{url_base}}/assets/ajax/demo-architecture-interior-blog-ajax-load-more-">

      <div class="col-lg-4 py-3 py-lg-0">
        <a href="{{url_base}}/noticias/detalhe">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/news/1.png" class="img-fluid" alt="Imagem">
            <span class="thumb-info-title">
              <span class="thumb-info-inner line-height-1 font-weight-light text-white positive-ls-1">Norte do país foi a região que mais cresceu em Portugal</span>
              <span class="thumb-info-type line-height-4 font-weight-light mt-2 mt-lg-4">Dados das contas regionais de 2018 indicam que o norte foi impulsionado pelo turismo e pela indústria e energia.</span>
            </span>
          </span>
        </span>
        </a>
      </div>
      <div class="col-lg-4 py-3 py-lg-0">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/news/2.png" class="img-fluid" alt="Imagem">
            <span class="thumb-info-title">
              <span class="thumb-info-inner line-height-1 font-weight-light positive-ls-1">Norte de Portugal com nível de inovação semelhante a Madrid</span>
              <span class="thumb-info-type line-height-4 font-weight-light mt-2 mt-lg-4">O Norte de Portugal apresenta um nível de inovação similar ao de regiões industrializadas europeias como Madrid…</span>
            </span>
          </span>
        </span>
      </div>
      <div class="col-lg-4 py-3 py-lg-0">
        <span class="thumb-info thumb-info-no-borders thumb-info-no-borders-rounded thumb-info-lighten thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom">
          <span class="thumb-info-wrapper">
            <img src="{{url_base}}/assets/img/news/3.png" class="img-fluid" alt="Imagem">
            <span class="thumb-info-title">
              <span class="thumb-info-inner line-height-1 font-weight-light positive-ls-1">Região do Minho vai ter nova Associação Empresarial</span>
              <span class="thumb-info-type line-height-4 font-weight-light mt-2 mt-lg-4">A Associação Empresarial do Minho (AEMinho), que vai ser constituída oficialmente em 28 de maio…</span>
            </span>
          </span>
        </span>
      </div>
    </div>
    <div id="portfolioLoadMoreBtnWrapperBlog" class="row py-5">
      <div class="col text-center">
        <div id="portfolioLoadMoreLoaderBlog" class="portfolio-load-more-loader" style="min-height: 61px;">
          <div class="bounce-loader">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
        <a href="{{url_base}}/noticias" class="btn btn-primary btn-outline ml-2 font-weight-extra-bold text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter">Ver mais</a>
      </div>
    </div>
  </div>
</section>
