<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Plantas</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">As nossas plantas</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col text-center">
        <p class="text-4 mb-5">Conheça ao detalhe os espaços que temos disponíveis para si.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pr-lg-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/plantas/plantas1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
          <div class="col-6 mt-3 pr-2">
            <img src="{{url_base}}/assets/img/plantas/plantas2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="Imagem" />
          </div>
          <div class="col-6 mt-3 pl-2">
            <img src="{{url_base}}/assets/img/plantas/plantas3.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-5">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 mt-5 mt-lg-0">Plantas</h2>
        <p class="text-4 line-height-9 pr-5 pb-3 mb-4">Conheça ao detalhe os espaços que temos disponíveis para si. Consulte as plantas das várias tipologias existentes no Guimagold Park.</p>
        <div class="row">
          <div class="col-12 mb-5">
            <a href="javascript:void(0);"><button type="button" class="plant-btn mb-1 mt-2 mr-1 btn w-100 btn-download text-left gilroy-medium text-uppercase text-3">Planta 1<img src="{{url_base}}/assets/img/icons/download.svg" alt="Download" class="img-fluid float-right"></button></a>
          </div>
        </div>
        <p class="text-5 gilroy-extrabold text-dark line-height-9 pr-5 pb-3 mb-4">Está interessado? Quer saber mais?</p>
        <a href="{{url_base}}/contactos" class="btn btn-dark btn-outline text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">Entrar em
          contacto</a>
      </div>
    </div>
  </div>
</section>
