<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Termos</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Termos e condições</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-height-2 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <p class="text-4 line-height-9">1. O acesso e uso deste website estão sujeitos à aceitação destes termos e condições. Se não concordar com estes termos e condições deve cessar imediatamente o uso deste website.</p>
    <p class="text-4 line-height-9">2. O conteúdo e a informação disponibilizada neste website, incluindo os seus termos e condições, podem, a qualquer momento, ser alterados por parte da Guimagold Park.</p>
    <p class="text-4 line-height-9">3. O acesso ao website desta empresa pode ser suspenso temporária ou permanentemente e sem aviso prévio. Embora façamos o possível por garantir que o website está disponível 24 horas por dia, não seremos responsáveis se, por qualquer razão, o website não estiver disponível em qualquer altura ou por qualquer período de tempo.</p>
    <p class="text-4 line-height-9">4. Embora façamos todo o possível para garantir que todas as informações contidas no website são exatas, não podemos assegurar que todas as informações sejam precisas e atualizadas. Deste modo, não aceitamos qualquer responsabilidade por erros ou omissões no que respeita ao conteúdo do website.</p>
    <p class="text-4 line-height-9">5. No caso de encontrar informações erradas no website solicitamos que nos informe. Tomaremos de imediato as medidas necessárias para a sua correção.</p>
    <p class="text-4 line-height-9">6. Ao aceder a outros websites através de links fornecidos pelo site da Guimagold Park, o utilizador reconhece que esta empresa não exerce qualquer tipo de controlo sobre os conteúdos desses websites e que, como tal, não pode ser responsabilizado por quaisquer consequências resultantes do acesso aos mesmos, seja a que título for.</p>
    <p class="text-4 line-height-9">7. A Guimagold Park não será responsável por danos resultantes em contratos, documentos legais, ou outros pelo uso ou incapacidade de uso deste website ou de qualquer material nele contido bem como qualquer ação ou decisão tomadas como resultado do uso deste website ou desse material.</p>
    <p class="text-4 line-height-9">8. O utilizador reconhece que toda a informação e conteúdos disponibilizados neste website, incluindo imagens, vídeos, textos e informações, logótipos e desenho gráfico do website ou qualquer documento ali constante, são da propriedade industrial ou intelectual da Guimagold Park ou de terceiros que autorizaram a sua inclusão, ou que para tanto foram autorizados.</p>
    <p class="text-4 line-height-9">9. É expressamente proibido, ao utilizador, copiar, salvo autorização concedida pela Guimagold Park, armazenar, reproduzir, alterar, transmitir, divulgar, comercializar ou, por qualquer outra forma, tornar acessível a terceiros a informação disponibilizada através deste website, salvo se para fins privados e de forma gratuita. A eventual utilização de informação deverá sempre fazer referência à fonte.</p>
  </div>
</section>
