<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Escritórios</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Os nossos escritórios</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col text-center">
        <p class="text-4 mb-5">O espaço físico, a sua apresentação e disposição, é muito mais que um aspeto prático ou de mera decoração.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pr-lg-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/escritorios/escritorios1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="" />
          </div>
          <div class="col-6 mt-3 pr-2">
            <img src="{{url_base}}/assets/img/escritorios/escritorios2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="" />
          </div>
          <div class="col-6 mt-3 pl-2">
            <img src="{{url_base}}/assets/img/escritorios/escritorios3.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-5">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 mt-5 mt-lg-0">Escritórios</h2>
        <p class="text-4 line-height-9">
          O espaço físico, a sua apresentação e disposição, é muito mais que um aspeto prático ou de mera decoração. Otimizar o layout do escritório é uma tática eficaz para aumentar a flexibilidade para as pessoas e o trabalho, para atrair talento,
          para evidenciar e demonstrar a cultura e valores da organização e para fomentar a criatividade e produtividade. É importante não esquecer que o escritório não e apenas funcional; é uma ferramenta de comunicação que passa uma mensagem a
          trabalhadores e clientes sobre o que esperar da empresa. É uma poderosa ferramenta para inspirar os colaboradores na cultura da organização.
        </p>
        <p class="text-4 line-height-9">
          É certo que a organização em open space é bastante facilitadora da comunicação e colaboração, mas é também um tipo de organização de escritório que praticamente elimina a privacidade, tanto no que toca a conversas entre pessoas, presenciais
          ou telefónicas, ou mesmo quanto à consulta de documentação. Não pode ser por isso encarado como a solução única.
        </p>
        <p class="text-4 line-height-9">
          É por exemplo impossível ter a equipa de recursos humanos no mesmo open space que outra qualquer área, dada a natureza sensível da documentação aí manuseada. Do mesmo modo, enquanto é muitíssimo produtivo e facilitador da colaboração ter a
          equipa de testes de software perto da equipa de desenvolvimento do mesmo, se a equipa comercial necessitar de silêncio para efetuar chamadas importantes, não poderá partilhar o espaço com as anteriores. Assim, temos à sua disposição
          diversos espaços de forma a enquadrar as suas necessidades e desejos, garantindo todo o espaço necessário e a resposta ideal aos requisitos da sua empresa.
        </p>
        <p class="text-5 gilroy-extrabold text-dark line-height-9 pr-5 pb-3 mb-4">Está interessado? Quer saber mais?</p>
        <a href="{{url_base}}/contactos" class="btn btn-dark btn-outline text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">Entrar em
          contacto</a>
      </div>
    </div>
  </div>


</section>
