<section class="page-header section section-height-3 bg-color-grey-scale-1 border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row align-items-center">
      <div class="col text-center">
        <div class="overflow-hidden">
          <ul class="breadcrumb d-block text-center">
            <li class="text-color-orange">Edifícios Industriais</li>
            <li class="active">Os nossos edifícios industriais</li>
          </ul>
        </div>
        <div class="overflow-hidden">
          <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="250">Norte do país foi a região que mais cresceu em Portugal</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-height-3 bg-light border-0 m-0">
  <div class="container container-xl-custom">
    <div class="row">
      <div class="col text-center">
        <p class="text-4 mb-5">O futuro é a indústria</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 pr-lg-5">
        <div class="row">
          <div class="col-12">
            <img src="{{url_base}}/assets/img/edificios/edificios1.png" class="img-fluid appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="100" alt="Imagem" />
          </div>
          <div class="col-6 mt-3 pr-2">
            <img src="{{url_base}}/assets/img/edificios/edificios2.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="Imagem" />
          </div>
          <div class="col-6 mt-3 pl-2">
            <img src="{{url_base}}/assets/img/edificios/edificios3.png" class="img-fluid appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500" alt="Imagem" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-5">
        <h2 class="text-color-dark gilroy-black text-11 negative-ls-1 line-height-3 mb-3 mt-5 mt-lg-0">Edifícios Industriais</h2>
        <p class="text-4 line-height-9">Nos próximos anos, a produção industrial mundial estará estreitamente associada à tecnologia moderna de informação e comunicação. Esta realidade irá exigir sistemas inteligentes e ligados através de redes
          digitais. Muitas mentes criativas já estão a trabalhar em projetos futuros com vista a um mundo sustentável, em que se poupa energia. As redes também se estão a tornar cada vez mais comuns em edifícios, pois conseguem controlar o
          equipamento técnico dos edifícios de uma forma autossuficiente. Além disso, respondem automaticamente às influências do ambiente e às preferências dos respetivos ocupantes. Com as suas instalações inovadoras, o Guimagold Park está bem
          preparado para satisfazer as exigências do futuro.</p>
        <p class="text-4 line-height-9"> Os edifícios industriais distinguem-se dos demais pelas exigências impostas por cada indústria. O propósito de cada construção está, por vezes, associado a limitações físicas exteriores ao edifício, mas que
          sejam fundamentais à existência do mesmo. Neste empreendimento todos os detalhes foram programados e estudados de forma minuciosa de forma a garantir que a sua constituição passa pela interação com a sua envolvente e possíveis
          consequências, sejam elas ambientais ou económicas. Tudo para dotar os nossos parceiros com as melhores ferramentas de trabalho.</p>
        <p class="text-5 gilroy-extrabold text-dark line-height-9 pr-5 pb-3 mb-4">Está interessado? Quer saber mais?</p>
        <a href="{{url_base}}/contactos" class="btn btn-dark btn-outline text-3 px-5 py-3 border-width-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">Entrar em
          contacto</a>
      </div>
    </div>
  </div>
</section>
